.card {
  z-index: 1;
  width: 95px;
  height: 145px;
  display: grid;
  grid-auto-rows: 25px;
  justify-content: center;
  // box-sizing: content-box;

  // &:hover{
  //   border: 3px solid #FFB53E;
  //   border-radius: 5px;
  // }

  img {
    width: 100%;
  }
}
.dragcard_children {
  z-index: 1;
  width: 95px;
  height: 145px;
  display: none;
}
.overlayout_card {
  position: absolute;
}
