.cardblock {
  display: grid;
  width: 1080px;
  grid: auto / repeat(8, 1fr);
  justify-content: space-between;
  margin-top: 30px;
  overflow: scroll;
  overflow-x: hidden;
}
.cardblock::-webkit-scrollbar-track {
  background-color: #e2e2e2;
}
.cardblock::-webkit-scrollbar {
  width: 6px;
  background-color: black;
}
.cardblock::-webkit-scrollbar-thumb {
  background-color: #bababa;
  border-radius: 5px;
}

.cardlist {
  width: 100%;
  display: grid;
  grid-auto-rows: 25px;
  justify-content: center;
  position: relative;

  &:before {
    content: "";
    width: 91px;
    height: 141px;
    opacity: 0.6;
    border: 2px solid #fcfcfc;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    top: 2px;
    transform: translateX(-50%);
  }
}
