@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  color: #222222;
  letter-spacing: 1.4px;
}
body{
  background-color: #e2e2e2;
}
.app {
  width: 100%;
  min-width: 1200px;
  height: 100vh;
  display: grid;
  grid: 195px auto 80px / auto;
  justify-content: center;
}
img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

// @media (max-width: 1200px) {
//   .app {
//     justify-content: left;
//   }
// }
